<ion-header>
        <ion-toolbar color="secondary">
          <ion-title text-center>
            Menu
            <img src="assets/img/electric-car.png"/>
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="OnLogOut()">
                <img src="assets/img/exit.png"/>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

<ion-content padding>

  <ion-list>
    <ion-item button [routerLink]="['/incidence', inc.id]" *ngFor="let inc of (incidents | async)" >
      {{ inc.id }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button (click)="IrForm()">Formulario  </ion-button>
</ion-footer>
