<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>
      <h1>Menu<img src="assets/img/electric-car.png"/></h1>                  
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="OnLogOut()">
          <img src="assets/img/exit.png"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium">

  <ion-card>
    <ion-card-header color="secondary">
      <ion-card-title>PARTES ABIERTOS</ion-card-title>
    </ion-card-header>     
      <ion-list>
        <ion-item *ngFor="let inc of incidenceArray" >
          <ion-text>{{ inc.idInc }}</ion-text>
        </ion-item>
      </ion-list>
  </ion-card>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding color="medium">
    <ion-button (click)="IrForm()">
      <ion-icon name="add-circle-outline"></ion-icon>
      Nueva Incidencia
    </ion-button>
  </ion-toolbar>
</ion-footer>
