<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>
      <h1>Menu<img src="assets/img/electric-car.png"/></h1>                  
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="OnLogOut()">
          <img src="assets/img/exit.png"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-card>
  <ion-card-header>
    <ion-card-title>PARTES ABIERTOS</ion-card-title>
  </ion-card-header>
  <ion-list>
    <ion-item *ngFor="let inc of (incidents | async)" >
      {{ inc.id }}
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>

<ion-footer>
  <ion-button (click)="IrForm()"><h1>Nueva Incidencia</h1></ion-button>
  <ion-button (click)="IrDraw()"><h1>Draw Image</h1></ion-button>
</ion-footer>
