<ion-content color="medium" forceOverscroll="false">
  <app-drawing-board (averiasEmmit)="recogeArray($event)"></app-drawing-board>  

  
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="medium">    
      <ion-button defaultHref="/" color="secondary">
        <ion-icon name="arrow-back"></ion-icon>
        Volver
      </ion-button>

      <ion-title text-center>
        Incidencia: {{this.idDamage}}
      </ion-title> 

      <ion-button (click)="goDamageList()" color="secondary" slot="primary">
        Continuar
      </ion-button>
  </ion-toolbar>
</ion-footer>
