<ion-header>
  <ion-toolbar>
    <ion-title>formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroupCustomers">
      <ion-item *ngFor="let c of constantCustomers | async">
    
        <ion-item [ngSwitch]="c.name">

          <div *ngSwitchCase="'nif'">
              <ion-label position="floating">{{ c.title }}</ion-label>
              <ion-input
                [type]="c.type"
                [name]="c.name" 
                [(ngModel)]="user[c.name]"
                [formControlName]="c.name"
                (ionBlur)="checkNif(user[c.name])">
              </ion-input>
              <div *ngIf="formGroupCustomers.get(c.name).dirty || formGroupCustomers.get(c.name).touched">
                <span>{{ getErrorCustomers(c.name)}}</span>
              </div>
               
            </div>
              
          <div *ngSwitchDefault>
            <ion-label position="floating">{{ c.title }}</ion-label>
            <ion-input 
              [type]="c.type"
              [name]="c.name" 
              [(ngModel)]="user[c.name]"
              [formControlName]="c.name">
            </ion-input>
            <div *ngIf="formGroupCustomers.get(c.name).dirty || formGroupCustomers.get(c.name).touched">
              <span>{{ getErrorCustomers(c.name)}}</span>
            </div>

              </div>
        </ion-item>     
      </ion-item>
  </form>
  
  <ion-header color="red">
      <ion-toolbar>
        <ion-title>Vehiculos</ion-title>
      </ion-toolbar>
    </ion-header>

    <form [formGroup]="formGroupVehicles">
        <ion-item *ngFor="let cv of constantVehicles | async" >
            <ion-item [ngSwitch]="cv.name">
                <div *ngSwitchCase="'enrollment'">
                    <ion-label position="floating">{{ cv.title }}</ion-label>

                    <ion-input
                      [type]="cv.type"
                      [name]="cv.name"
                      [formControlName]="cv.name"
                      [(ngModel)]="vehicles[cv.name]"
                      (ionBlur)="checkEnrollment(vehicles[cv.name])">
                    </ion-input>

                   <div *ngIf="formGroupVehicles.get(cv.name).dirty || formGroupVehicles.get(cv.name).touched"> 
                    <span>{{getErrorVehicles(cv.name)}}</span>
                   </div>          
                </div>

                <div *ngSwitchDefault>
                    <ion-label position="floating">{{ cv.title }}</ion-label>

                    <ion-input
                    [type]="cv.type"
                    [name]="cv.name"
                    [formControlName]="cv.name"
                    [(ngModel)]="vehicles[cv.name]">
                  </ion-input>
                  <div *ngIf="formGroupVehicles.get(cv.name).dirty || formGroupVehicles.get(cv.name).touched"> 
                    <span>{{getErrorVehicles(cv.name)}}</span>
                   </div>     
                </div>
              </ion-item> 
        </ion-item>
      </form>
      
      <ion-button expand="full" (click)="checkDataUser()" [disabled]="">Guardar</ion-button>
</ion-content>
