<ion-header>
  <ion-toolbar>
    <ion-title>formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item *ngFor="let c of clientes; let i = index">
          <ion-label position="floating">{{ c.title }}</ion-label>

          <ion-input
          [type]="c.type"
          [name]="c.name"
          [placeholder]="c.placeholder"
          [(ngModel)]="user[caca]"
          ></ion-input>
          
      </ion-item>
  </form>

  <ion-header color="red">
      <ion-toolbar>
        <ion-title>Vehiculos</ion-title>
      </ion-toolbar>
    </ion-header>

    <form>
        <ion-item *ngFor="let cv of constantesVehiculos" >
          <ion-label position="floating">{{ cv.title }}</ion-label>
    
          <ion-input
          [type]="cv.type"
          [name]="cv.name"
          [placeholder]="cv.placeholder"></ion-input>
        </ion-item>
      </form>

      <ion-button expand="full" (click)="saveTodo($event)">Guardar</ion-button>
</ion-content>
